DATABASE_URL="mysql://root:@localhost:3306/connection"
DB_CONNECTION="mysql"
DB_HOST="localhost"
DB_USERNAME="root"
DB_PASSWORD=""
DB_DATABASE="connection"
DB_PORT=3306
DB_LOGGING="BOOLEAN"
accessKeyId=""
secretAccessKey=""
JWT_SECRET="SECRETKey"
PORT=8000
